@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #2f2f2f!important;
  color: #fff;
}

.circle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
}